---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

export interface IArticle {
  userId: number;
  id: number;
  title: string;
  imageUrl: string;
  summary: string;
}

export interface IReport {
  id: number;
  title: string;
  url: string;
  imageUrl: string;
  newsSite: string;
  summary: string;
  publishedAt: string;
}

const articleResponse = await fetch(
  "https://api.spaceflightnewsapi.net/v3/articles"
);

const reportResponse = await fetch(
  "https://api.spaceflightnewsapi.net/v3/reports"
);

const articleData = await articleResponse.json();
const reportData = await reportResponse.json();

const articles = articleData.slice(0, 11);
const reports = reportData.slice(0, 20);
---

<Layout title="Astro News">
  <main>
    <h1 class="text-2xl p-4 mx-6 bg-slate-900 text-slate-300 text-center">*ASTRONEWS*</h1>

    <div class="px-6 mx-auto bg-gray-100 p-4">
      <div class="text-2xl text-primary-accent bg-slate-200 p-4">Latest articles</div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {articles.map((article: IArticle) => <Card article={article} articleType="article" />)}
      </div>
      <div class="text-2xl text-primary flex justify-center bg-slate-200 p-4 mt-4 mb-2 ">Reports</div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {reports.map((report: IReport) => <Card article={report} articleType="report"/>)}
      </div>
    </div>
  </main>
</Layout>
